@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Humanist";
  src: url("/assets/fonts/Humanist521BT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Humanist";
}
.background-image {
  background-image: url("/assets/images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: -1;
}

.display-block {
  display: block;
  width: 100%;
}

.style_title {
  @apply text-[35px] font-light md:text-[70px]  md:leading-none md:text-left text-center mx-auto leading-10;
}
